<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/admin/">
            <mat-icon mat-list-icon>add</mat-icon> Add Flight Data
        </button>
        <button mat-list-item routerLink="/admin/all-flight-data">
            <mat-icon mat-list-icon>quiz</mat-icon>Edit Flight Data
        </button>
        <button mat-list-item routerLink="/admin/categories">
            <mat-icon mat-list-icon>list</mat-icon> Flight Categories
        </button>
        <button mat-list-item routerLink="/admin/user-details">
            <mat-icon mat-list-icon>add_circle_outline</mat-icon> User Data
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon> Profile
        </button>
        
        

    </mat-action-list>
</mat-card>