<div class="container check-page">
    <mat-card class="mt-30">
        <div class="heading-fp">
            <h1>Reset Password</h1>
        </div>
        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
            <mat-step label="Email Detail">
                <div class="email-fp">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input name="email" [(ngModel)]="UserData.email" matInput required>
                    </mat-form-field>
                </div>
                <div class="fp-email-button">
                    <button (click)="emailCheck(stepper)" mat-raised-button color="primary">Next</button>
                </div>
            </mat-step>
            <mat-step label="OTP Details">
                <div class="otp-fp">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Enter OTP</mat-label>
                        <input name="email" [(ngModel)]="OtpData.userOtp" matInput required>
                    </mat-form-field>
                </div>
                <div class="fp-email-button">
                    <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                    <button id="checkotpbutton" (click)="checkOTP(stepper)" mat-raised-button
                        color="primary">Next</button>
                </div>
            </mat-step>
            <mat-step label="New Password Detail">

                <div class="password-fp">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Enter Password</mat-label>
                        <input name="email" [(ngModel)]="UserData.password" matInput required>
                    </mat-form-field>
                </div>
                <div class="password-fp">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Enter Confirm Password</mat-label>
                        <input name="email" [(ngModel)]="UserData.confirmPassword" matInput required>
                    </mat-form-field>
                </div>
                <div>
                    <button (click)="submitData(stepper)" mat-raised-button
                        color="primary">Next</button>
                </div>
            </mat-step>
        </mat-stepper>

    </mat-card>
</div>